*{
    color: #D83F87 ;
    /* rgb(216, 63, 135) */
    color: #2A1B3D;
    /* rgb(42, 27, 61) */
    color: #44318D;
    /* rgb(68, 49, 141) */
    color: #E98074;
    /* rgb(233, 128, 116) */
    color: #A4B3B6;
    /* rgb(164, 179, 182) */

}

